@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #BBBBBB;
    padding: 20px 0px;
}

main{
    width: 940px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
}

footer{
    position: relative;
    height: 300px;
    background-image: url("imagenes/bg.jpg");
    text-align: center;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover{
    color: aqua;
    font-size: 23px;
}

nav{
    display: inline;
    margin: 0px 20px;
}

.links{
    position: absolute;
    top: 45%;
    right:15%;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

#copyright{
    color: white;
}

form label, form legend{
    display: block;
    margin: 0 0 20px;
}


form{
    margin: 40px 0;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    color: white;
    background: orange;
    width: 20%;
    padding: 5px 0;
    font-size: 23px;
    border-color: orange;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: #e69138;
    border-color: #e69138;
    transform: scale(1.05);
}

table{
    margin: 40px 40px;
}

th{
    background: orange;
}

td,th{
    border: 1px solid black;
    padding: 1.5px 1.5px;
}